@page
@model IndexModel
@{
    Layout = "_ThemeLayout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1> Testing </h1>

<h1> Fairy. How you doing </h1>

<h1> Londoon bridge is falling down  </h1>

<h1> Falling down, falling down </h1>

<h1> London Bridge is falling down </h1>

<h1> My fair lady. </h1>
